@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import 'https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.css';

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}
#root {
    background-color: #e4e4e4;
}

.h1,.h2,.h3.h4,.h5,.h6,h1,h2,h3,h4,h5,h6 {
    margin: 0
}

form {
    display: flex;
}